@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

*{
    font-family: 'Source Code Pro', monospace;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6, header, footer, form{
    font-family: 'Permanent Marker', cursive;
}

/* Header */

header {
    background: #630000;
    padding: 20px 0;
}

.container {
    position: relative;
    width: 80%;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #FFF;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #ff1024;
    font-size: 23px;
}

/* Footer */

footer {
    text-align: center;
    border-top: 2px solid #612121;
    background: linear-gradient(#5a1b1b, #000000);
    padding:25px 0;
}

.copyright {
    color:#ffffff;
    font-size: 20px;
    margin: 13px 0 0;
    padding: 20px;

}

/* membros.html */

.membro {
    width: 250px;
    height: 250px;
    border-radius: 20px;
}

.membros {
    position: relative;
    width: 940px;
    margin: 0 auto;
    padding: 40px;
}

.membros li {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin: 1.5%; 
    padding: 20px 5px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px 40px 10px 40px;
}

.membros li:hover{
    border-color: #be0010;
    color: #be0010
}

.membros li:active{
    border-color: #ff929b;
    color: #ff9ea6
}

.membros li:hover h2{
    font-size: 35px;
}

.membros h2 {
    font-size:30px;
    font-weight: bold;
    padding-bottom: 9px;
}

.membros-jutsu {
    font-size: 18px;
}

.membros-name {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

/* index.html */

.akatsuki {
    width: 100%;
}

.principal-title {
    text-align: center;
    font-size: 2em;
    margin-bottom: 1em;
    clear: left;
}

.principal p {
    margin-bottom: 1em;
}

.principal strong {
    font-weight: bold;
}

.principal em {
    font-style: italic;
}

.principal {
    padding: 3em 0;
    background:#FEFEFE;
    width: 940px;
    margin: 0 auto;
}

.conteudo-renegados{
    width: 640px;
    margin: 0 auto;
}

.imagem-renegados {
    width: 60%;
    opacity: 0.9;
    transition: 400ms;
    box-shadow: 3px 3px 20px #000000e7;
}

.imagem-renegados:hover {
    opacity: 0.3;
}

.lista-renegados {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.renegados {
    padding: 3em 0;
    background: #5a1b1b;
    color: white;
}

.manto {
    width: 150px;
    float: left;
    margin: 0 20px 20px 0;
}

.mapa {
    padding: 3em 0;
    background: linear-gradient(#FEFEFE, #5a1b1b);
}

.mapa-conteudo {
    width: 940px;
    margin: 0 auto;
}

.mapa p {
    margin-bottom: 2em;
    text-align: center;
}

.video {
    width: 560px;
    margin: 2em auto;
}

.itens {
    font-size: 2vh;
    line-height: 1.5;
}

.itens:before {
    content: "⧽ ";
}

.itens:first-child {
    font-weight:bold ;
}

@media screen and (max-width:480px) {
    .container, .principal, .conteudo-renegados, .mapa-conteudo, .video{
        margin: 10px;
        width: auto;
    }
    h1 {
        text-align: center;
    }
    nav {
        position: static;
    }
    
    .lista-renegados, .imagem-renegados {
        width: 100%;
    }

}